*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px / 16px = 0.625 */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #EC6D4E;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

@-webkit-keyframes runAnime-main {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes runAnime-main {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes runAnime-sub {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes runAnime-sub {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.bigOne {
  width: 100vw;
  height: 100rem;
}

@-webkit-keyframes UP-picroll {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-35%);
  }
}

@keyframes UP-picroll {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-35%);
  }
}
@-webkit-keyframes DOWN-picroll {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-5%);
  }
}
@keyframes DOWN-picroll {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(-5%);
  }
}
.upSytle {
  -webkit-animation: UP-picroll 2s linear;
          animation: UP-picroll 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.downStyle {
  -webkit-animation: DOWN-picroll 2s linear;
          animation: DOWN-picroll 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #EC6D4E;
}
.navbar__pages {
  width: 25%;
  padding-left: 4rem;
  align-self: center;
}
.navbar__pages-list {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 700;
}
.navbar__pages-list--style {
  margin-right: 1rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  overflow: hidden;
}
.navbar__pages-list--style .slot-content {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
.navbar__pages-list--style .slot-content::after {
  content: attr(hidden-slot-text);
  position: absolute;
  top: 100%;
  left: 0;
}
.navbar__pages-list--style:hover .slot-content {
  transform: translateY(-100%);
}
.navbar__logo {
  width: 50%;
  padding: 2rem;
  text-align: center;
  align-self: center;
}
.navbar__logo--style {
  text-decoration: none;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.navbar__client {
  width: 25%;
  padding-right: 4rem;
  align-self: center;
  text-align: end;
  font-size: 1.6rem;
  font-weight: 700;
}
.navbar__client--style {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  overflow: hidden;
}
.navbar__client--style .slot-content {
  display: inline-block;
  position: relative;
  transition: all 0.3s;
}
.navbar__client--style .slot-content::after {
  content: attr(hidden-slot-text);
  position: absolute;
  top: 100%;
  left: 0;
}
.navbar__client--style:hover .slot-content {
  transform: translateY(-100%);
}

.header {
  color: #fff;
  height: 70rem;
  margin-bottom: 5rem;
}
.header__logo-box {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.header__text-box .slogan {
  display: inline-block;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.heading-primery {
  display: inline-block;
  text-align: center;
}
.heading-primery--main {
  display: block;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.heading-primery--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}

.pic-style {
  height: 70rem;
}
.pic-style1 {
  background-image: url("https://images.unsplash.com/photo-1607919564479-c2e00f3b14a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style2 {
  background-image: url("https://images.unsplash.com/photo-1607919965349-c3c790913de7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style3 {
  background-image: url("https://images.unsplash.com/photo-1607919565317-3ab3dd5abafd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style4 {
  background-image: url("https://images.unsplash.com/photo-1607920592831-f68bbee49939?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style5 {
  background-image: url("https://images.unsplash.com/photo-1607919966225-12386ac398b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}

.pic__runanim-box {
  width: 70vw;
  overflow: hidden;
  white-space: nowrap;
  float: right;
}
.pic__runanim-box .scroll {
  display: inline-block;
}
.pic__runanim-box .scr-main {
  -webkit-animation: runAnime-main 100s linear infinite;
          animation: runAnime-main 100s linear infinite;
  -webkit-animation-delay: -100s;
          animation-delay: -100s;
}
.pic__runanim-box .scr-sub {
  -webkit-animation: runAnime-sub 100s linear infinite;
          animation: runAnime-sub 100s linear infinite;
  -webkit-animation-delay: -50s;
          animation-delay: -50s;
}

.aboutMe {
  position: relative;
  margin-bottom: 5rem;
}
.aboutMe__img {
  width: 95%;
  height: 80vh;
  margin: 0 2.5%;
  background-image: url("https://images.unsplash.com/photo-1500511599662-5441d83fae18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: left;
  text-align: center;
  padding-top: 4rem;
}
.aboutMe__img-title {
  color: #EC6D4E;
  font-weight: 700;
  letter-spacing: 2px;
}
.aboutMe__text {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 50rem;
  padding: 4rem;
  background-color: #fff;
  color: #EC6D4E;
  border-radius: 5px;
}
.aboutMe__text h3 {
  font-size: 3.5rem;
  margin: 5rem 0;
  letter-spacing: 1rem;
}
.aboutMe__text p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 4rem;
}
.aboutMe__text p:not(:last-child) {
  margin-bottom: 5rem;
}

.picWithText {
  width: 100%;
  height: 80vh;
  margin-bottom: 5rem;
  overflow: hidden;
  position: relative;
  z-index: -1;
}
.picWithText-Picstyle {
  width: 100%;
  height: calc(100% + 400px);
  background-image: url("https://images.unsplash.com/photo-1584847801423-852691e41bc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
}
.picWithText-Textstyle {
  font-family: "Arial", sans-serif;
  font-size: 8rem;
  font-weight: 400;
  color: #fff;
  letter-spacing: 3px;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
}
.picWithText-Textstyle .scroll {
  display: inline-block;
}
.picWithText-Textstyle .scr-main {
  -webkit-animation: runAnime-main 90s linear infinite;
          animation: runAnime-main 90s linear infinite;
  -webkit-animation-delay: -90s;
          animation-delay: -90s;
}
.picWithText-Textstyle .scr-sub {
  -webkit-animation: runAnime-sub 90s linear infinite;
          animation: runAnime-sub 90s linear infinite;
  -webkit-animation-delay: -45s;
          animation-delay: -45s;
}/*# sourceMappingURL=style.css.map */