*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10px / 16px = 0.625 */
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #EC6D4E;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
}

@-webkit-keyframes picAnime-main {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes picAnime-main {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes picAnime-sub {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes picAnime-sub {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #EC6D4E;
}
.navbar__pages {
  width: 25%;
  padding-left: 4rem;
  align-self: center;
}
.navbar__pages-list {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 400;
}
.navbar__pages-list li {
  display: inline;
}
.navbar__pages-list--style {
  text-decoration: none;
  color: #fff;
  margin-right: 1rem;
}
.navbar__logo {
  width: 50%;
  padding: 2rem;
  text-align: center;
  align-self: center;
}
.navbar__logo--style {
  text-decoration: none;
  color: #fff;
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.navbar__client {
  width: 25%;
  padding-right: 4rem;
  align-self: center;
  text-align: end;
  font-size: 1.6rem;
  font-weight: 400;
}
.navbar__client--style {
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.header {
  color: #fff;
  height: 95rem;
}
.header__logo-box {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
}
.header__text-box .slogan {
  display: inline-block;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem;
}

.heading-primery {
  display: inline-block;
  text-align: center;
}
.heading-primery--main {
  display: block;
  font-size: 8rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}
.heading-primery--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.5rem;
}

.pic-style {
  height: 70rem;
}
.pic-style1 {
  background-image: url("https://images.unsplash.com/photo-1607919564479-c2e00f3b14a9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style2 {
  background-image: url("https://images.unsplash.com/photo-1607919965349-c3c790913de7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style3 {
  background-image: url("https://images.unsplash.com/photo-1607919565317-3ab3dd5abafd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style4 {
  background-image: url("https://images.unsplash.com/photo-1607920592831-f68bbee49939?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}
.pic-style5 {
  background-image: url("https://images.unsplash.com/photo-1607919966225-12386ac398b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  display: inline-block;
  width: 45rem;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-right: 1.5rem;
}

.pic__runanim-box {
  width: 70vw;
  overflow: hidden;
  white-space: nowrap;
  float: right;
}
.pic__runanim-box .scroll {
  display: inline-block;
}
.pic__runanim-box .scr-main {
  -webkit-animation: picAnime-main 60s linear infinite;
          animation: picAnime-main 60s linear infinite;
  -webkit-animation-delay: -60s;
          animation-delay: -60s;
}
.pic__runanim-box .scr-sub {
  -webkit-animation: picAnime-sub 60s linear infinite;
          animation: picAnime-sub 60s linear infinite;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
}/*# sourceMappingURL=style.css.map */