*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

*::selection {
	color: $color-white;
	background-color: $color-primary-dark;
}

html {
	/* 10px / 16px = 0.625 */
	font-size: 62.5%;
	box-sizing: border-box;

	@include respon(large) {
		font-size: 75%; //12px
	}
	@include respon(big) {
		font-size: 56.25%; //9px
	}
	@include respon(phone) {
		font-size: 50%; //8px
	}
}

body {
	background-color: $color-primary;
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
}

[v-cloak] {
	display: none;
}
