$color-primary: #ec6d4e;
$color-primary-dark: #b85037;
$color-black: #1b1b1b;
$color-white: #fff;

$font-default-size: 1.6rem;
$font-size1: 8rem;
$font-size2: 4.5rem;
$font-size3: 3.5rem;
$font-size4: 3rem;
$font-size5: 2rem;

$p-lag: 6rem;
$p-mid: 4rem;
$p-sml: 2rem;

$m-lag: 15rem;
$m-mid: 5rem;
$m-sml: 2rem;
