/* 輪播滾動Vue動態樣式 */
/* fade in(初始) */
.fade {
	&-enter {
		&-from {
			opacity: 0;
		}
		&-to {
			opacity: 1;
		}
		&-active {
			transition: opacity 0.3s;
		}
	}
}

/* move next */
.move-next {
	&-enter-from {
		transform: translate(100%);
	}
	&-enter-to,
	&-leave-from {
		transform: translate(0);
	}
	&-leave-to {
		transform: translate(-100%);
	}

	&-move,
	&-enter-active,
	&-leave-active {
		transition: all 0.5s;
	}
}

/* move prev */
.move-prev {
	&-enter-from {
		transform: translate(-100%);
	}
	&-enter-to,
	&-leave-from {
		transform: translate(0);
	}
	&-leave-to {
		transform: translate(100%);
	}

	&-move,
	&-enter-active,
	&-leave-active {
		transition: all 0.5s;
	}
}

/* carousel基礎樣式 */
.carousel {
	padding: $p-lag 0;
	position: relative;

	&-heading {
		margin: 0 $m-lag;
		font-size: $font-size4;
		font-weight: 100;
		letter-spacing: 3px;
		color: $color-white;
		text-align: center;

		&--num {
			float: right;
		}

		@include respon(phone) {
			margin: 0 $m-mid;
		}
	}

	&-box {
		position: relative;
		height: 30rem;
		margin: $m-mid $m-lag;
		overflow: hidden;
		white-space: nowrap;

		@include respon(middle) {
			margin: $m-mid $m-mid;
		}
	}

	&-content {
		/* 只有作用在768px以下 */
		display: inline-block;
		position: absolute;
		height: 100%;
		width: 100%;
		padding: 2rem;
		background-color: $color-white;

		/* 作用在768px以上 */
		&-main {
			display: inline-block;
			position: absolute;
			left: 30%;
			height: 100%;
			width: 40%;
			padding: 2rem;
			border-radius: 10px;
			background-color: $color-white;
			transition: all 0.45s;
		}

		&-prev {
			display: inline-block;
			position: absolute;
			top: 5%;
			height: 90%;
			width: 35%;
			padding: 2rem;
			border-radius: 10px;
			background-color: $color-white;
			opacity: 0.8;
			transition: all 0.45s;
			z-index: -1;
		}

		&-next {
			display: inline-block;
			position: absolute;
			top: 5%;
			right: 0;
			height: 90%;
			width: 35%;
			padding: 2rem;
			border-radius: 10px;
			background-color: $color-white;
			opacity: 0.8;
			transition: all 0.45s;
			z-index: -1;
		}
	}

	&-butLeft {
		position: absolute;
		font-size: $font-size5;
		top: 30rem;
		left: 10rem;
		cursor: pointer;
		z-index: 3;

		@include respon(middle) {
			font-size: $font-default-size;
			left: 2rem;
		}
	}

	&-butRight {
		position: absolute;
		font-size: $font-size5;
		top: 30rem;
		right: 10rem;
		cursor: pointer;
		z-index: 3;

		@include respon(middle) {
			font-size: $font-default-size;
			right: 2rem;
		}
	}
}

/* 輪播滾動按鈕CSS樣式 */
/* 來源：https://design-library.jp/lab/ */
.dli-chevron-right {
	display: inline-block;
	vertical-align: middle;
	color: $color-white;
	line-height: 1;
	width: 1em;
	height: 1em;
	border: 0.1em solid currentColor;
	border-left: 0;
	border-bottom: 0;
	box-sizing: border-box;
	transform: translateX(-25%) rotate(45deg);
	transition: transform 0.3s;

	&:hover {
		transform: translateX(-25%) rotate(45deg) scale(1.5);
	}
}

.dli-chevron-left {
	display: inline-block;
	vertical-align: middle;
	color: $color-white;
	line-height: 1;
	width: 1em;
	height: 1em;
	border: 0.1em solid currentColor;
	border-left: 0;
	border-bottom: 0;
	box-sizing: border-box;
	transform: translateX(25%) rotate(-135deg);
	transition: transform 0.3s;

	&:hover {
		transform: translateX(25%) rotate(-135deg) scale(1.5);
	}
}
