.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	z-index: 5;
	background-color: $color-primary;

	&__pages {
		width: 25%;
		padding-left: $p-mid;
		align-self: center;

		&-list {
			list-style: none;
			font-size: $font-default-size;
			font-weight: 700;
			letter-spacing: 1px;

			&--style {
				margin-right: $m-sml;
				@include navLink;
				@include slotEffect;
			}
		}
	}

	&__logo {
		width: 50%;
		padding: $p-sml;
		text-align: center;
		align-self: center;

		&--style {
			@include navLink;
			font-size: $font-size2;
			font-weight: 700;
			letter-spacing: 0.5rem;
		}
	}

	&__client {
		width: 25%;
		padding-right: $p-mid;
		align-self: center;
		text-align: end;
		font-size: $font-default-size;
		font-weight: 700;
		letter-spacing: 1px;

		&--login {
			margin-right: $m-sml;
			@include navLink;
			@include slotEffect;
		}

		&--shoppingCart {
			display: inline-block;
			position: relative;
			padding: 1rem;
			color: $color-primary;
			background-color: $color-white;
			height: 4.3rem;
			width: 4.3rem;
			border-radius: 50%;

			&-amount {
				display: inline-block;
				position: absolute;
				top: -0.5rem;
				right: -0.8rem;
				padding: 2px;
				color: $color-white;
				background-color: $color-primary-dark;
				font-size: 1.3rem;
				height: 2.3rem;
				width: 2.3rem;
				border-radius: 50%;
				text-align: center;
			}
		}
	}
}
