.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: sticky;
	top: 0px;
	z-index: 5;
	background-color: $color-primary;

	&__pages {
		position: relative;
		width: 30%;
		padding-left: $p-mid;
		align-self: center;

		@include respon(big) {
			width: 35%;
		}
		@include respon(middle) {
			width: 30%;
			padding-left: $p-sml;
		}
		@include respon(exsm-phone) {
			width: 20%;
		}

		&-list {
			list-style: none;
			font-size: $font-default-size;
			font-weight: 700;
			letter-spacing: 1px;

			&--style {
				margin-right: 1rem;
				@include navLink;
				@include slotEffect;
			}
		}
	}

	&__logo {
		width: 40%;
		padding: $p-sml;
		text-align: center;
		align-self: center;

		@include respon(big) {
			width: 30%;
		}
		@include respon(middle) {
			width: 40%;
		}
		@include respon(exsm-phone) {
			width: 60%;
		}

		&--style {
			@include navLink;
			font-size: $font-size2;
			font-weight: 700;
			letter-spacing: 0.5rem;

			@include respon(middle) {
				font-size: $font-size3;
			}
			@include respon(exsm-phone) {
				font-size: $font-size4;
			}
		}
	}

	&__client {
		width: 30%;
		padding-right: $p-mid;
		align-self: center;
		text-align: end;
		font-size: $font-default-size;
		font-weight: 700;
		letter-spacing: 1px;

		@include respon(big) {
			width: 35%;
		}
		@include respon(middle) {
			width: 30%;
			font-size: $font-size5;
			padding-right: $p-sml;
		}
		@include respon(exsm-phone) {
			width: 20%;
		}

		&--login {
			margin-right: $m-sml;
			@include navLink;
			@include slotEffect;

			@include respon(phone) {
				display: none;
			}
		}

		&--shoppingCart {
			display: inline-block;
			position: relative;
			padding: 1rem;
			color: $color-primary;
			background-color: $color-white;
			height: 4.3rem;
			width: 4.3rem;
			border-radius: 50%;

			@include respon(large) {
				height: 4rem;
				width: 4rem;
			}
			@include respon(phone) {
				height: 4.5rem;
				width: 4.5rem;
			}

			&-amount {
				display: inline-block;
				position: absolute;
				top: -0.5rem;
				right: -0.8rem;
				padding: 2px;
				color: $color-white;
				background-color: $color-primary-dark;
				font-size: 1.3rem;
				height: 2.3rem;
				width: 2.3rem;
				border-radius: 50%;
				text-align: center;
			}
		}
	}
}

/* <hamburger> component */
/* https://design-library.jp/lab/icons-menu */

.hamburger {
	font-size: $font-size4;

	.dli-menu {
		display: inline-block;
		vertical-align: middle;
		color: $color-white;
		line-height: 1;
		width: 1em;

		> span {
			display: block;
			height: 0.1em;
			background: currentColor;
			border-radius: 0.1em;
		}
		> span + span {
			display: block;
			margin-top: 0.22em;
		}
	}
	.dli-close {
		display: inline-block;
		vertical-align: middle;
		color: $color-white;
		line-height: 1;
		width: 1em;
		height: 0.1em;
		background: currentColor;
		border-radius: 0.1em;
		position: relative;
		transform: rotate(45deg);

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: inherit;
			border-radius: inherit;
			transform: rotate(90deg);
		}
	}
}

.menu-list {
	position: absolute;
	top: 100%;
	left: 0;
	height: 100vh;
	width: 40vw;
	background-color: $color-primary;
	padding: 5rem;
	list-style: none;
	font-size: $font-size5;
	font-weight: 700;
	letter-spacing: 1px;

	&-item {
		width: 100%;
		@include navLink;
		@include slotEffect;

		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}
